    @import url(http://fonts.googleapis.com/css?family=Asap);
    body {
      margin: 0px;
      background-color: #E8273B;
      font-family: 'Asap', sans-serif;
      font-size: 15px;
      height: 100%
    }
    .t_bar {
      padding: 3px;
      background-color: #565e54;
      position: fixed;
      top: 0;
      z-index: 2;
      width: 100%;
      color: #fff;
      font-size: 28px;
      text-align: center;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
    .boldtop {
      font-weight: bold;
      color: #F54949;
    }
    .topred {
      color: #D60B0B;
    }
    .container {
      width: 85%;
      background-color: #B31010;
      padding: 5px;
      color: #fff;
    }
    .cont_top {
      padding: 5px;
      width: 85%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      background-color: #FF3333;
      color: #fff;
    }
    .cont_bottom {
      padding: 5px;
      width: 85%;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      background-color: #960505;
    }
    .table_jl {
      width: 100%;
      text-align: center;
      font-weight: bold;
      cursor: pointer;
    }
    .td_jl {
      background-color: #2a6021
;
      cursor: pointer;
      padding: 5px;
      border-radius: 8px;
      width: 50%;
    }
    .container2 {
      width: 50
      background-color: #33b320
      padding: 2px;
      color: #fff;
      float:left
    }
    input[type="text"] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: none;
      background-color: #FA8792;
      color: white;
      border-radius: 10px;
      text-align:center;
      font-size:30px;
    }
    input[type="submit"] {
      background-color: #DE3333;
      border: none;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
      width: 100%;
      border-radius: 10px;
      font-size:20px;
    }